<!-- cards group -->
<div class="container">
  <div class="card-group ">

    <div class="card" [routerLink]="[1, 'items']">
      <img src="assets/img/Neck.jpg" class="card-img-top rounded h-50" alt="">
      <div class="card-body">
        <h5 class="card-title">Necklaces</h5>
        <p class="card-text">With thousands of choices, you're sure to find a design you love. Our necklaces collection includes hearts, crosses, lockets, monograms and more in silver and gold, and diamond and gemstone styles.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

    <div class="card" [routerLink]="[2, 'items']">
      <img src="assets/img/brac3.jpg" class="card-img-top h-50" alt="">
      <div class="card-body">
        <h5 class="card-title">Bracelets</h5>
        <p class="card-text">A huge collection of bracelets with jewels, rocks, wood, shells, crystals, metal, or plastic hoops, pearls and many more materials.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

    <div class="card" [routerLink]="[3, 'items']">
      <img src="assets/img/Rings.jpg" class="card-img-top rounded h-50" alt="">
      <div class="card-body">
        <h5 class="card-title">Rings</h5>
        <p class="card-text">Discover classic signet rings ready for engraving, bold cocktail styles or create your own ring stack with delicate bands..</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>

  </div>
</div>

